@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.contain {
    display: flex;
}

.main-container {
    width: 100%;
    color: white;
    display: flex;
}

.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

.sidebar {
    color: rgb(3, 3, 3);
    background-color: rgb(241, 241, 241);
    min-height: 100vh;
    height: auto;
    box-shadow: 2px 2px 2px #e2e2e2;
}
.sidebar.dark-mode{
     color: white;
    background-color: black;
    min-height: 100vh;
    height: auto;
    box-shadow: none;

}
.routes {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:rgb(241, 241, 241) ;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.routes.dark-mode {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: black;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-right: 4px solid transparent;
    gap: 2rem;
}
.link.dark-mode {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-right: 4px solid transparent;
    gap: 2rem;
}

.main2 {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    overflow: auto;
    
}

main {
    width: 100px;
    background-color: black;
    display: flex;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.top_section {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 15px 25px;
}

.logo {
    font-size: 5rem;
    cursor: pointer;
    transition: all 1s;
}

.logo:hover {
    transition: all 1s;
    transform: scale(1.05);
}

.bars {
    font-size: 2rem;
    transition: all 1s;
    cursor: pointer;
    padding: 1rem;
    justify-content: center;
    transition: 1s ease-in;
}





.linktohome {
    color: wheat;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: 1s ease-in;
}

.link_text {
    transition: 1s ease-in;
}

.link_text:hover {
    width: 100%;
    color: rgb(126, 126, 126);
    transition: all 0.3s;
    
}

.icon:hover {
    width: 100%;
    color: rgb(126, 126, 126);
    transition: all 0.3s;
    
}

.just_text {
    display: none;
}

.small-logo {
    display: none;
}

.cricket-container {
    display: flex;
}

/* Media query for mobile view */
@media (max-width: 600px) {
    .sidebar {
        width: 105px !important;
    }

    .logo,
    .link_text {
        display: none;
    }

    .icon:hover,
    .link_text:hover {
        transform: none;
    }
}
